
@import 'bootstrap';
@import 'font-awesome';

body {
  font-family: 'Source Sans Pro', sans-serif;
}
.container-fluid {
  margin-top: 15px;
}

.btn-top {
  padding-top: 10px;
}

.btn-space {
  margin-right: 10px;
  margin-left: 10px;
}

#button-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-deck {
  padding: 10px 30px 10px 30x;
  margin: 15px;
  justify-content: space-between;
  justify-content: center;
}

.card-deck .card {
  margin: 5px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 992px)
{
  .card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
}